@font-face {
    font-family: FredokaOne-Regular;
    src: url(../Fonts/Fredoka_One/FredokaOne-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto/Roboto-Black.ttf);
}

.FredokaOne{
    font-family: FredokaOne-Regular;
    color: #ff8305;
}

.Roboto{
    font-family: Roboto;
    color: white;
}

.shadow {

    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.txt{
    color: #194f75;
    font-weight: bold; 
    line-height: .1;
    font-size: 0.8rem;
}

.txt-medium{
    font-size: 1.5rem;
}

.txt-small{
    color: #194f75;
    font-weight: bold;
    font-size: 0.5rem;
    margin-top: 2vh;
}

.txt-bottom{
    color: #0198ff;
    font-size: 1.4rem;
}

.card-top-text{
    color: #0198ff;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5vh 0 1.5vh 0;
}

#nav-container {
    height: 10vh;
    padding: 0;

}


.container-fluid {
    background-image: url(../img/bg-overlay.png);
}

#video-container {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
   /* height:80vh;
    width: 88vw;*/ 
}
/*
#video-cover {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    opacity: .8;
   background-color: #45a9f8;
   height:80vh;
   width: 88vw;
}
*/

#video-cover img{
    height:80vh;
    width: 88vw;
}

.content-wrapper{
    position: relative;
    padding: 0;
    margin: 4vh 0 0 0;    
}

#button-orange {
    color: #ff8305;
    background-color: white;
    height: 40px;
    width: 100px;
}

#button-blue {
    color: white;
    background-color: #0099ff;
    height: 35px;
}

#dropdown{
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

.glue{
    width: 30vw;
}

#workshops-bg{
    background-image: url(../img/talleres-mobile.png);
    height: 50vh;
    background-size: cover;

}

#middle-section{
    background-image: url(../img/talleres-bg.png);
    background-size: 100% 100%;
}

#workshops-info{
    height: 50vh;
}

.card{
    align-items: center;
    padding: 0;
    margin: 2vh 0 2vh 0;
    border-radius: 25px;
    width: 80%;
}

.card-img-top{
    width: 90%;
    border: 1px;
    border-radius: 25px;
}